@import '../../components/common';

// 内容部分
.content-wrap {
  background-color: @color-eee;
}
.content-main {
  width: 1220px;
  padding: 0 10px;
  margin: 0 auto;


  .article-wrap {
    padding: 30px 0 100px;
  }
  .article-main {
    width: 100%;

    .article__hd {
      display: inline-block;
      width: 240px;
      background-color: @color-fff;
      margin-top: -120px;
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
      box-shadow: 0 0 10px rgba(0,0,0,.4);

      .article__hd-title {
        padding: 40px 40px 0;

        .h4-title {
          color: @color-default;
          font-size: 24px;
          font-weight: 700;
          line-height: 1;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid @color-f2f2;
        }

        .text {
          display: block;
          color: @color-999;
          font-size: 14px;
          text-align: right;
          line-height: 1;
        }
      }

      .article__hd-list {
        padding: 25px 0;
        margin: 0;
        .article__hd-item {
          display: block;
          height: 55px;
          line-height: 55px;
          color: @color-000;
          font-size: 14px;
          padding-left: 40px;
          position: relative;
          cursor: pointer;

          &:not(:last-child) {
            border-bottom: 1px solid @color-e8e8;
          }

          &:hover,
          &.active {
            background-color: @color-f2f2;
            &:before {
              content: '';
              display: inline-block;
              width: 4px;
              height: 15px;
              background-color: @color-default;
              position: absolute;
              top: 50%;
              .transform(0, -50%);
              left: 26px;
            }

            a {
              display: block;
              color: @color-default;
            }
          }

          a {
            display: block;
            color: @color-000;
          }
        }
      }
    }

    .article__bd {
      display: inline-block;
      float: right;
      width: 920px;
      padding: 40px;
      background-color: @color-fff;

      .article__bd-content {

        .content__hd {

          .h1-title {
            font-size: 32px;
            text-align: center;
            line-height: 2;
            font-weight: 700;
          }
        }

        .content__bd {
          margin: 40px 0;

          p {
            font-size: 16px;
            color: @color-000;
            text-indent: 2em;
            line-height: 2;
          }
        }

        .content__ft {

          .prev,
          .next {
            display: inline-block;
            width: 50%;
            float: left;
            line-height: 2;
            text-align: center;

            a {
              display: block;
              color: @color-333;
              .one-line-text-hidden;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {

  // 内容部分
  .content-wrap {
    background-color: @color-fff;
  }
  .content-main {
    width: 100%;
    padding: 0;
    margin: 0;


    .article-wrap {
      padding: 1.5rem 0;
    }
    .article-main {
      width: 100%;

      .article__hd {
        display: none;
      }

      .article__bd {
        display: inline-block;
        float: none;
        width: 100%;
        padding: 0;
        background-color: @color-fff;

        .article__bd-content {
          padding: 0 .75rem;

          .content__hd {

            .h1-title {
              font-size: 22px;
              line-height: 1.5;
            }
          }

          .content__bd {
            margin: 1rem 0;

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}