@import '../../components/common';

// 内容部分
.content-wrap {
  background-color: @color-eee;
}
.content-main {
  width: 1220px;
  padding: 0 10px;
  margin: 0 auto;


  .article-wrap {
    padding: 30px 0 100px;
  }
  .article-main {
    width: 100%;

    .article__hd {
      display: inline-block;
      width: 240px;
      background-color: @color-fff;
      margin-top: -120px;
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
      box-shadow: 0 0 10px rgba(0,0,0,.4);

      .article__hd-title {
        padding: 40px 40px 0;

        .h4-title {
          color: @color-default;
          font-size: 24px;
          font-weight: 700;
          line-height: 1;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid @color-f2f2;
        }

        .text {
          display: block;
          color: @color-999;
          font-size: 14px;
          text-align: right;
          line-height: 1;
        }
      }

      .article__hd-list {
        padding: 25px 0;
        margin: 0;
        .article__hd-item {
          display: block;
          height: 55px;
          line-height: 55px;
          color: @color-000;
          font-size: 14px;
          padding-left: 40px;
          position: relative;
          cursor: pointer;

          &:not(:last-child) {
            border-bottom: 1px solid @color-e8e8;
          }

          &:hover,
          &.active {
            background-color: @color-f2f2;
            &:before {
              content: '';
              display: inline-block;
              width: 4px;
              height: 15px;
              background-color: @color-default;
              position: absolute;
              top: 50%;
              .transform(0, -50%);
              left: 26px;
            }
          }
        }
      }
    }

    .m-article__hd {
      display: none;
    }

    .m-article-nav-wrap {
      display: none;
    }

    .article__bd {
      display: inline-block;
      float: right;
      width: 920px;
      padding: 40px;
      background-color: @color-fff;

      .company-intro {

        .company-cover {
          .bg-img(@width: 100%; @height: 265px; @url: '@{img-url}contact_company-cover_bg.png');
        }

        .company-intro-title {
          display: none;
        }

        .company-intro-text {
          margin-top: 20px;

          .text {
            color: @color-333;
            font-size: 14px;
            text-indent: 2em;
            line-height: 2;
          }
        }
      }

      .company-honor {

        .company-honor-title {
          display: none;
        }

        .honor-list {
          position: relative;
          padding: 40px 0 100px;

          &:after {
            content: '';
            display: inline-block;
            border-left: 2px solid @color-f5f5;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -1px;
          }

        }
        .honor-item {
          padding-bottom: 30px;

          &:nth-child(odd) {
            text-align: right;

            .honor-item-link {
              &:after {
                left: -38px;
              }
            }

            .honor-item__ft {
              &:after {
                left: -7px;
              }
            }
          }

          &:nth-child(even) {
            text-align: left;

            .honor-item-link {
              &:after {
                right: -38px;
              }
            }

            .honor-item__ft {
              &:after {
                right: -7px;
              }
            }
          }

          .honor-item-link {
            display: inline-block;
            width: 390px;
            border: 2px solid @color-f5f5;
            position: relative;
            z-index: 1;
            //.transition();

            &:after {
              content: '';
              display: inline-block;
              width: 12px;
              height: 12px;
              border: 2px solid @color-999;
              .border-radius(@radius: 50%;);
              position: absolute;
              bottom: 20px;
            }

            &:hover {
              border: 2px solid @color-default;
              -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
              -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
              box-shadow: 0 0 10px rgba(0,0,0,.4);

              &:after {
                border-color: @color-default;
              }

              .honor-item__ft {
                background-color: @color-default;

                &:after {
                  background-color: @color-default;
                }

                .time {
                  color: @color-fff;
                }
              }

              .icon-about-more {
                .transform(10px, 0);
              }
            }
          }

          .honor-item__hd {
            padding: 30px 30px 20px;

            .honor-item__hd-title {
              line-height: 1;
              font-size: 14px;
              color: @color-000;
              text-align: left;
              .one-line-text-hidden;
            }
          }

          .honor-item__bd {
            padding: 0 30px 15px;

            .text {
              font-size: 12px;
              color: @color-999;
              line-height: 1.5;
              text-align: left;
              .more-line-text-hidden(2);
            }
          }

          .honor-item__ft {
            height: 55px;
            line-height: 55px;
            padding: 0 30px;
            background-color: @color-f5f5;
            position: relative;
            //.transition();

            .time {
              display: inline-block;
              width: 50px;
              line-height: 1;
              margin-top: 10px;
              text-align: left;
              float: left;
              color: @color-999;

              .month {
                font-size: 18px;
                line-height: 1;
              }

              .year {
                .font-size10;
                line-height: 2;
              }
            }

            .icon-about-more {
              float: right;
              .transition();
              .icon-right(@width: 30px; @height: 30px; @bgc: transparent; @url: '@{img-url}icon-about-more.png';);
            }

            &:after {
              content: '';
              display: inline-block;
              width: 10px;
              height: 10px;
              position: absolute;
              top: 44%;
              .transform(0, -50%);
              background-color: @color-f5f5;
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
      }

      .company-news {

        .company-news-title {
          display: none;
        }

        .news-list {

        }

        .news-item {
          padding: 30px 0;

          .news-item-link {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;

            &:hover {
              .news-item__rt {
                .h4-title {
                  color: @color-default;
                }
              }
            }
          }

          &:first-child {
            padding-top: 0;
          }

          &:not(:last-child) {
            border-bottom: 1px solid @color-e8e8;
          }

          .news-item__lt {
            //display: inline-block;
            //float: left;
            width: 120px;
            height: 80px;
            border: 1px solid @color-e8e8;
            background-color: pink;
          }

          .news-item__rt {
            //display: inline-block;
            flex: 1;
            margin-left: 20px;

            .news-item__rt-title {
              margin: 15px 0 20px;
              line-height: 1;
            }

            .h4-title {
              display: inline-block;
              font-size: 16px;
              color: @color-000;
              font-weight: 700;
              .transition();
            }

            .time {
              font-size: 16px;
              color: @color-ccc;
              float: right;
            }

            .text {
              font-size: 12px;
              color: @color-666;
              max-width: 700px;
              .one-line-text-hidden;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {

  // 内容部分
  .content-wrap {
    background-color: @color-fff;
  }
  .content-main {
    width: 100%;
    padding: 0;
    margin: 0;


    .article-wrap {
      padding: 1.5rem 0;
    }
    .article-main {
      width: 100%;

      .article__hd {
        display: none;
      }

      .m-article__hd {
        display: block;
        width: 10.9rem;
        margin: 0 auto;
        background: url("../../assets/images/m-title-bottom_bg.png") no-repeat center bottom;
        -webkit-background-size: 100%;
        background-size: 100%;

        .h4-title {
          color: @color-000;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.2;
          text-align: center;
        }

        .text {
          display: block;
          color: @color-999;
          .font-size10;
          text-align: center;
          line-height: 1.5;
        }
      }

      .m-article-nav-wrap {
        display: block;
      }
      .m-article-nav-main {
        padding: 1rem .75rem 2rem;

        .m-article-nav-list {
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          justify-content: space-between;
        }

        .m-article-nav-item {
          width: 3.5rem;

          &:nth-child(1) {
            .m-article-nav-item__hd {
              .bg-img(@width: 3.5rem; @height: 3.5rem; @bgc: transparent; @url: '@{img-url}m-company-intro-unselect_bg.png';);

            }
            &:active,
            &:hover {

              .m-article-nav-item__hd {
                .bg-img(@width: 3.5rem; @height: 3.5rem; @bgc: transparent; @url: '@{img-url}m-company-intro-selected_bg.png';);
              }

              .m-article-nav-item__bd {
                color: @color-default;
              }
            }
          }

          &:nth-child(2) {
            .m-article-nav-item__hd {
              .bg-img(@width: 3.5rem; @height: 3.5rem; @bgc: transparent; @url: '@{img-url}m-company-honor-unselect_bg.png';);

            }
            &:active,
            &:hover {

              .m-article-nav-item__hd {
                .bg-img(@width: 3.5rem; @height: 3.5rem; @bgc: transparent; @url: '@{img-url}m-company-honor-selected_bg.png';);
              }

              .m-article-nav-item__bd {
                color: @color-default;
              }
            }
          }

          &:nth-child(3) {
            .m-article-nav-item__hd {
              .bg-img(@width: 3.5rem; @height: 3.5rem; @bgc: transparent; @url: '@{img-url}m-company-news-unselect_bg.png';);

            }
            &:active,
            &:hover {

              .m-article-nav-item__hd {
                .bg-img(@width: 3.5rem; @height: 3.5rem; @bgc: transparent; @url: '@{img-url}m-company-news-selected_bg.png';);
              }

              .m-article-nav-item__bd {
                color: @color-default;
              }
            }
          }

          .m-article-nav-item__bd {
            font-size: 14px;
            color: @color-999;
            line-height: 2;
            text-align: center;
          }
        }
      }

      .article__bd {
        display: inline-block;
        float: none;
        width: 100%;
        padding: 0;
        background-color: @color-fff;

        .company-intro-title,
        .company-honor-title,
        .company-news-title {

          & > .h4-title {
            display: inline-block;
            font-size: 18px;
            color: @color-default;
            padding: 1.75rem .75rem;
            position: relative;

            &:after {
              content: '';
              display: inline-block;
              width: 11rem;
              height: 1px;
              background-color: @color-e8e8;
              position: absolute;
              top: 50%;
              .transform(0, -50%);
              right: -10.5rem;
            }

          }
        }

        .company-intro {

          .company-cover {
            .bg-img(@width: 100%; @height: 10rem; @url: '@{img-url}m-contact_company-cover_bg.png');
          }

          .company-intro-title {
            display: block;
          }

          .company-intro-text {
            margin-top: 0;
            padding: 0 .75rem;

            .text {
              color: @color-333;
              font-size: 14px;
              text-indent: 2em;
              line-height: 2;
            }
          }
        }

        .company-honor {
          display: block !important;

          .company-honor-title {
            display: block;
          }

          .honor-list {
            position: relative;
            padding: 0 1.7rem 0 1.75rem;

            &:after {
              content: '';
              display: inline-block;
              border-left: 1px solid @color-f5f5;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 1.75rem;
              margin-left: -1px;
            }

            .honor-item {
              padding-bottom: 1.75rem;

              &:nth-child(odd),
              &:nth-child(even) {
                text-align: right;

                .honor-item-link {
                  &:after {
                    left: -1.4rem;
                  }
                }

                .honor-item__ft {
                  &:after {
                    left: -.25rem;
                  }
                }
              }

              .honor-item-link {
                display: inline-block;
                width: 14.2rem;
                border: 1px solid @color-f5f5;
                position: relative;
                z-index: 1;
                //.transition();

                &:after {
                  content: '';
                  display: inline-block;
                  width: 9px;
                  height: 9px;
                  border: 1px solid @color-999;
                  .border-radius(@radius: 50%;);
                  position: absolute;
                  bottom: .8rem;
                }

                &:hover {
                  border: 1px solid @color-default;
                  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
                  -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
                  box-shadow: 0 0 10px rgba(0,0,0,.4);

                  &:after {
                    border-color: @color-default;
                  }

                  .honor-item__ft {
                    background-color: @color-default;

                    &:after {
                      background-color: @color-default;
                    }

                    .time {
                      color: @color-fff;
                    }
                  }

                  .icon-about-more {
                    .transform(10px, 0);
                  }
                }
              }

              .honor-item__hd {
                padding: .75rem .75rem .5rem;

                .honor-item__hd-title {
                  line-height: 1;
                  font-size: 14px;
                  color: @color-000;
                  text-align: left;
                  padding: 0;
                  width: 100%;
                  .one-line-text-hidden;
                }
              }

              .honor-item__bd {
                padding: 0 .75rem .5rem;

                .text {
                  font-size: 12px;
                  color: @color-999;
                  line-height: 1.5;
                  text-align: left;
                  .more-line-text-hidden(2);
                }
              }

              .honor-item__ft {
                height: 2rem;
                line-height: 2rem;
                padding: 0 1rem;
                background-color: @color-f5f5;
                position: relative;
                //.transition();

                .time {
                  display: inline-block;
                  width: 2rem;
                  line-height: 1;
                  margin-top: .3rem;
                  text-align: left;
                  float: left;
                  color: @color-999;

                  .month {
                    font-size: 14px;
                    line-height: 1;
                  }

                  .year {
                    .font-size10;
                    line-height: 1.5;
                  }
                }

                .icon-about-more {
                  float: right;
                  .transition();
                  .icon-right(@width: 1rem; @height: 1rem; @bgc: transparent; @url: '@{img-url}icon-about-more.png';);
                }

                &:after {
                  content: '';
                  display: inline-block;
                  width: .5rem;
                  height: .5rem;
                  position: absolute;
                  top: 35%;
                  .transform(0, -50%);
                  background-color: @color-f5f5;
                  -webkit-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  -o-transform: rotate(45deg);
                  transform: rotate(45deg);
                }
              }
            }
          }
        }

        .company-news {
          display: block !important;
          margin: 0 .325rem;

          .company-news-title {
            display: block;
          }

          .news-list {

          }

          .news-item {
            padding: 1rem .325rem;

            .news-item-link {
              display: -webkit-box;
              display: -webkit-flex;
              display: flex;

              &:hover {
                .news-item__rt {
                  .h4-title {
                    color: @color-default;
                  }
                }
              }
            }

            &:first-child {
              padding-top: 0;
            }

            &:not(:last-child) {
              border-bottom: 1px solid @color-e8e8;
            }

            .news-item__lt {
              width: 8.5rem;
              height: 4.75rem;
              background-color: pink;
              border: 1px solid @color-e8e8;
              position: relative;
              overflow: hidden;
              -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
              -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
              box-shadow: 0 0 10px rgba(0,0,0,.4);
            }

            .news-item__rt {
              //display: inline-block;
              flex: 1;
              margin-left: .4rem;
              width: auto;
              height: auto;
              padding: 0;
              max-width: 49%;

              .news-item__rt-title {
                margin: 0;
              }

              .h4-title {
                display: inline-block;
                width: 100%;
                line-height: 1.5;
                font-size: 16px;
                color: @color-default;
                padding: 0;
                vertical-align: bottom;
                .one-line-text-hidden;
              }

              .time {
                display: none;
              }

              .text {
                width: 100%;
                line-height: 1.5;
                font-size: 14px;
                color: @color-999;
                margin: 0;
                margin-top: .25rem;
                white-space: normal;
                .more-line-text-hidden(3);
              }
            }
          }
        }
      }
    }
  }
}