// 手机版侧边
.m-aside-menu-wrap {
  display: none;
}

@media only screen and (max-width: 767px) {

  // 手机版侧边
  .m-aside-menu-wrap {
    display: block;
    position: fixed;
    left: 0;
    top: 3rem;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    .transition();

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  .m-aside-menu-main {
    position: absolute;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: @color-fff;
    .transition(@type: right;);

    &.show {
      right: 0;
    }

    .aside-menu-list {

      .aside-menu-item {

        &:not(:last-child) {
          border-bottom: 1px solid @color-e8e8;
        }

        a {
          display: block;
          height: 4rem;
          line-height: 4rem;
          color: @color-default;
          font-size: 18px;
          text-align: center;

          &:active {
            background-color: @color-e8e8;
          }
        }
      }
    }
  }
}