@import '../../components/common';

// 内容部分
.content-wrap {
  background-color: @color-eee;
}
.content-main {
  width: 1220px;
  padding: 0 10px;
  margin: 0 auto;


  .article-wrap {
    padding: 30px 0 100px;
  }
  .article-main {
    width: 100%;

    .article__hd {
      display: inline-block;
      width: 240px;
      background-color: @color-fff;
      margin-top: -120px;
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
      box-shadow: 0 0 10px rgba(0,0,0,.4);

      .article__hd-title {
        padding: 40px 40px 0;

        .h4-title {
          color: @color-default;
          font-size: 24px;
          font-weight: 700;
          line-height: 1;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid @color-f2f2;
        }

        .text {
          display: block;
          color: @color-999;
          font-size: 14px;
          text-align: right;
          line-height: 1;
        }
      }

      .article__hd-list {
        padding: 25px 0;
        margin: 0;
        .article__hd-item {
          display: block;
          height: 55px;
          line-height: 55px;
          color: @color-000;
          font-size: 14px;
          padding-left: 40px;
          position: relative;
          cursor: pointer;

          &:not(:last-child) {
            border-bottom: 1px solid @color-e8e8;
          }

          &:hover,
          &.active {
            background-color: @color-f2f2;
            &:before {
              content: '';
              display: inline-block;
              width: 4px;
              height: 15px;
              background-color: @color-default;
              position: absolute;
              top: 50%;
              .transform(0, -50%);
              left: 26px;
            }
          }
        }
      }
    }

    .m-article__hd {
      display: none;
    }

    .article__bd {
      display: inline-block;
      float: right;
      width: 920px;
      padding: 40px;
      background-color: @color-fff;

      .company-cover {

      }

      .company-address {
        margin-top: 40px;
        width: 100%;
        height: 400px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {

  // 内容部分
  .content-wrap {
    background-color: @color-fff;
  }
  .content-main {
    width: 100%;
    padding: 0;
    margin: 0;


    .article-wrap {
      padding: 1.5rem 0;
    }
    .article-main {
      width: 100%;

      .article__hd {
        display: none;
      }

      .m-article__hd {
        display: block;
        width: 10.9rem;
        margin: 0 auto;
        background: url("../../assets/images/m-title-bottom_bg.png") no-repeat center bottom;
        -webkit-background-size: 100%;
        background-size: 100%;

        .h4-title {
          color: @color-000;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.2;
          text-align: center;
        }

        .text {
          display: block;
          color: @color-999;
          .font-size10;
          text-align: center;
          line-height: 1.5;
        }
      }

      .article__bd {
        display: inline-block;
        float: none;
        width: 100%;
        padding: 0;
        background-color: @color-fff;

        .company-cover {
          display: none;
        }

        .company-address {
          margin-top: 1rem;
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}