<!doctype html>
<html lang="en">

<head>
  <title>联系我们</title>
  <meta name="description" content="联系我们">
  <meta name="keywords" content="联系我们">
  ${ require('html-loader!./layout/header-common.html') }
</head>

<body class="body-wrap zhft-body-wrap">
<!-- body 主体 -->
<div class="body-main zhft-body-main">
  <!-- 顶部导航 -->
  <div class="nav-header-wrap zhft-nav-header-wrap" id="js-nav-header-wrap">
    <div class="nav-header-main zhft-nav-header-main">
      <div class="nav-header__hd">
        <a href="/" class="logo"></a>
      </div>
      <div class="nav-header__bd">
        <div class="nav-item"><a href="/" class="home page">首页</a></div>
        <div class="nav-item about-us-item">
          <a href="./about_index.html" class="page about">关于我们</a>
          <ul class="about-list">
            <li class="about-item"><a href="./about_index.html#company-intro">公司介绍</a></li>
            <li class="about-item"><a href="./about_index.html#company-honor">公司荣誉</a></li>
            <li class="about-item"><a href="./about_index.html#company-news">新闻中心</a></li>
          </ul>
        </div>
        <div class="nav-item service-case-item">
          <a href="./service_index.html" class="page service">服务&案例</a>
          <ul class="service-list">
            <li class="service-item"><a href="./service_index.html#service-process">服务流程</a></li>
            <li class="service-item"><a href="./service_index.html#classic-case">经典案例</a></li>
          </ul>
        </div>
        <div class="nav-item"><a href="javascript:;" class="page contact active">联系我们</a></div>
      </div>
      <div class="nav-header__ft">
        <a href="javascript:;" id="js-m-icon-menu">
          <span class="icon m-icon-menu"></span>
          <span class="icon m-icon-close-menu hidden"></span>
        </a>
      </div>
    </div>
  </div>

  ${ require('html-loader!./layout/m-aside-menu-common.html') }

  ${ require('html-loader!./layout/banner-common.html') }

  <!-- 内容部分 -->
  <div class="content-wrap zhft-content-wrap">
    <div class="content-main zhft-content-main">
      <div class="article-wrap">
        <div class="article-main clearfix">
          <div class="article__hd">
            <div class="article__hd-title">
              <h4 class="h4-title">联系我们</h4>
              <span class="text">Contact us</span>
            </div>
            <ul class="article__hd-list">
              <li class="article__hd-item active">公司地址</li>
            </ul>
          </div>
          <div class="m-article__hd">
            <h4 class="h4-title">联系我们</h4>
            <span class="text">Contact us</span>
          </div>
          <div class="article__bd">
            <div class="company-cover">
              <img src="../assets/images/contact_company-cover_bg.png" alt="">
            </div>
            <div class="map company-address" id="company-address"></div>
          </div>
          <div class="article__ft"></div>
        </div>
      </div>
    </div>
  </div>

  <%= require('html-loader!./layout/footer-common.html') %>
</div>
<%= require('html-loader!./layout/script-common.html') %>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=YiGLb8I38W5SDGc6Iux2thic5044fIW4"></script>
</body>

</html>