<!doctype html>
<html lang="en">

<head>
  <title>服务案例</title>
  <meta name="description" content="服务案例">
  <meta name="keywords" content="服务案例">
  ${ require('html-loader!./layout/header-common.html') }
</head>

<body class="zhft-body-wrap">
<!-- body 主体 -->
<div class="zhft-body-main">
  <!-- 顶部导航 -->
  <div class="nav-header-wrap zhft-nav-header-wrap" id="js-nav-header-wrap">
    <div class="nav-header-main zhft-nav-header-main">
      <div class="nav-header__hd">
        <a href="/" class="logo"></a>
      </div>
      <div class="nav-header__bd">
        <div class="nav-item"><a href="javascript:;" class="home page">首页</a></div>
        <div class="nav-item about-us-item">
          <a href="javascript:;" class="page about">关于我们</a>
          <ul class="about-list">
            <li class="about-item"><a href="javascript:;">公司介绍</a></li>
            <li class="about-item"><a href="javascript:;">公司荣誉</a></li>
            <li class="about-item"><a href="javascript:;">新闻中心</a></li>
          </ul>
        </div>
        <div class="nav-item service-case-item">
          <a href="javascript:;" class="page service active">服务&案例</a>
          <ul class="service-list">
            <li class="service-item"><a href="javascript:;">服务流程</a></li>
            <li class="service-item"><a href="javascript:;">经典案例</a></li>
          </ul>
        </div>
        <div class="nav-item"><a href="javascript:;" class="page contact">联系我们</a></div>
      </div>
      <div class="nav-header__ft">
        <a href="javascript:;" id="js-m-icon-menu">
          <span class="icon m-icon-menu"></span>
          <span class="icon m-icon-close-menu hidden"></span>
        </a>
      </div>
    </div>
  </div>

  ${ require('html-loader!./layout/m-aside-menu-common.html') }

  ${ require('html-loader!./layout/banner-common.html') }

  <!-- 内容部分 -->
  <div class="content-wrap zhft-content-wrap">
    <div class="content-main zhft-content-main">
      <div class="article-wrap">
        <div class="article-main clearfix">
          <div class="article__hd">
            <div class="article__hd-title">
              <h4 class="h4-title">服务&案例</h4>
              <span class="text">Service Case</span>
            </div>
            <ul class="article__hd-list" id="tab-list">
              <li class="article__hd-item" data-id="service-process"><a href="javascript:;">服务流程</a></li>
              <li class="article__hd-item active" data-id="classic-case"><a href="javascript:;">经典案例</a></li>
            </ul>
          </div>
          <div class="article__bd" id="tab-content">
            <div class="article__bd-content">
              <div class="content__hd">
                <div class="content__hd-title">
                  <h1 class="h1-title">国家知识产权年度考核 青岛居副省级城市第一</h1>
                </div>
              </div>
              <div class="content__bd">
                <p class="text">中汇法通（北京）知识产权咨询服务有限公司(以下简称中汇法通产权公司）是经北京市工商行政管理局核准设立的具有专业资质从事知识产权服务的合法机构，中汇法通产权公司是为公民、企业提供全方位知识产权法律服务的专业机构，中汇法通产权公司拥有一批专业知识扎实，实践经验丰富的知识产权顾问，公司企业法律顾问、律师及互联网专业人才，在这个信息飞速膨胀、科学技术发展日新月异的时代，对知识产权这种无形资产的保护显的尤为重要。</p>
                <p class="text">“客户是朋友，客户是同一战壕里的战友，以专业、热情、大爱去帮助客户实现战略目标，赢得客户尊重”是中汇法通产权公司的服务理念，中汇法通产权公司力求把这一理念落实到每次的工作中，让顾客百分百的满意。好的口碑是对工作最大的认可，为客户提供一站式的服务是中汇法通产权公司的最高宗旨。</p>
                <p class="text">在从业过程中，中汇法通产权公司充分发挥自身优势，结合专业化和国际化的运作模式，为客户提供最具价值性的服务。中汇法通产权公司以它独特的企业文化魅力赢得了政府机构、业界专家们的大力支持，与他们建立并维持着良好的合作关系。“用心做好每一个细节，用热情感染每一位客户，用完善周到的服务赢取更广阔的市场。” 中汇法通产权公司就是凭借这种真诚的态度，深受广大客户的信任与厚爱、获得了业界的支持与认可。</p>
              </div>
              <div class="content__ft clearfix">
                <div class="prev"><a href="javascript:;" rel="prev">上一个</a></div>
                <div class=next><a href="javascript:;" rel="next">下一个</a></div>
              </div>
            </div>
          </div>
          <div class="article__ft"></div>
        </div>
      </div>
    </div>
  </div>

  <%= require('html-loader!./layout/footer-common.html') %>
</div>
<%= require('html-loader!./layout/script-common.html') %>
</body>

</html>