@import '../../components/common';

// 内容部分
.content-main {

  .article-main {

    .article-item {

      @media only screen and (min-width: 768px) {
        &:nth-child(even) {
          background-color: @color-f7f7;
        }
      }

      .m-article__hd {
        display: none;
      }

      .article-item-main {
        width: 1220px;
        padding: 0 10px;
        margin: 0 auto;
      }

      .article-item-ft {
        padding: 100px 0;
        text-align: center;
        .more {
          .icon-right(@width: 156px; @height: 46px; @url: '@{img-url}icon-more.png';);
        }
      }

      &:last-child {
        .article-item-ft {
          padding: 100px 0 60px;
        }
      }
    }

    .service-area-main {

      .service-area__hd {
        padding: 60px 0 70px;

        .service-area__hd-title {
          .bg-img(@width: 434px; @height: 58px; @bgc: transparent; @url: '@{img-url}service_area_bg.png';);
          margin: 0 auto;
        }
      }

      .service-area__bd {

        .service-area-list {
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          justify-content: space-around;
        }

        .service-area-item {
          width: 238px;

          .service-area-item__hd {
            text-align: center;
            a {
              display: inline-block;
              .transition(@type: background;);
            }
          }

          &:nth-child(1) {
            .service-area-item__hd {
              a {
                .bg-img(@width: 160px; @height: 160px;@url: '@{img-url}technical_testing_unselect_bg.png'; @bg-size: auto;);

                &:hover,
                &.active {
                  .bg-img(@width: 160px; @height: 160px;@url: '@{img-url}technical_testing_selected_bg.png'; @bg-size: 100%;);
                }
              }

            }
          }

          &:nth-child(2) {
            .service-area-item__hd {
              a {
                .bg-img(@width: 160px; @height: 160px;@url: '@{img-url}criminal_blow_unselect_bg.png'; @bg-size: auto;);

                &:hover,
                &.active {
                  .bg-img(@width: 160px; @height: 160px;@url: '@{img-url}criminal_blow_selected_bg.png'; @bg-size: 100%;);
                }
              }
            }
          }

          &:nth-child(3) {
            .service-area-item__hd {
              a {
                .bg-img(@width: 160px; @height: 160px;@url: '@{img-url}legal_counsel_unselect_bg.png'; @bg-size: auto;);

                &:hover,
                &.active {
                  .bg-img(@width: 160px; @height: 160px;@url: '@{img-url}legal_counsel_selected_bg.png'; @bg-size: 100%;);
                }
              }
            }
          }

          .service-area-item__bd {

            .h5-title {
              font-size: 18px;
              color: @color-000;
              line-height: 2;
              font-weight: 700;
              text-align: center;
            }
            .text {
              font-size: 14px;
              color: @color-333;
              line-height: 1.5;
            }
          }
        }
      }

      @media only screen and (min-width: 768px) {
        .m-service-area__bd {
          display: none;
        }
      }

    }

    .success-case-main {

      .success-case__hd {
        padding: 60px 0 70px;

        .success-case__hd-title {
          .bg-img(@width: 434px; @height: 58px; @bgc: transparent; @url: '@{img-url}success_case_bg.png';);
          margin: 0 auto;
        }
      }

      .success-case__bd {

        .success-case-list {
          margin: 0 -15px -40px;
        }

        .success-case-item {
          display: inline-block;
          float: left;
          margin: 0 15px 45px;
          width: 380px;
          background-color: @color-fff;

          @media only screen and (min-width: 768px) {
            .transition(@type: box-shadow,transform;);
            &:hover {
              -webkit-box-shadow: 0 0 15px rgba(186,204,207,.7);
              box-shadow: 0 0 15px rgba(186,204,207,.7);
              .transform(@x: 0; @y: -10px;);

              .success-case-item__hd {
                .time {
                  bottom: 0;
                }
              }
            }
          }

          .success-case-item__hd {
            width: 100%;
            height: 200px;
            position: relative;
            overflow: hidden;

            .time {
              display: inline-block;
              width: 180px;
              height: 40px;
              line-height: 40px;
              background-color: @color-default;
              font-size: 14px;
              color: @color-fff;
              text-align: center;
              position: absolute;
              bottom: -40px;
              left: 50%;
              .transform(@x: -50%;@y: 0;);
              .transition(@type: bottom;);
            }
          }

          .success-case-item__bd{
            width: 100%;
            height: 160px;
            padding: 0 20px 20px;

            .h5-title {
              max-width: 240px;
              line-height: 1.5;
              font-size: 16px;
              color: @color-000;
              text-align: center;
              margin: 0 auto;
              padding: 30px 0;
              min-height: 108px;
            }

            .text {
              line-height: 1.6;
              font-size: 12px;
              color: @color-999;
              .more-line-text-hidden(2);
            }
          }
        }
      }
    }

    .about-us-main {

      .about-us__hd {
        padding: 60px 0 70px;

        .about-us__hd-title {
          .bg-img(@width: 434px; @height: 58px; @bgc: transparent; @url: '@{img-url}about_us_bg.png';);
          margin: 0 auto;
        }
      }

      .about-us__bd {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        .about-us__bd-lt {
          flex: 1;
          margin-right: 100px;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          align-items: center;
          .text {
            display: inline-block;
            font-size: 16px;
            color: @color-333;
            text-indent: 2em;
          }
        }
        .about-us__bd-rt {
          width: 460px;
          //height: 250px;
        }
      }

      @media only screen and (min-width: 768px) {
        .m-about-us__bd {
          display: none;
        }
      }
    }

    .news-main {
      .news__hd {
        padding: 60px 0 70px;

        .news__hd-title {
          .bg-img(@width: 434px; @height: 58px; @bgc: transparent; @url: '@{img-url}news_bg.png';);
          margin: 0 auto;
        }
      }

      .news__bd {

        .news-list {
          margin: 0 -20px -30px;
        }

        .news-item {
          margin: 0 20px 30px;
          padding: 25px;
          width: 580px;
          float: left;
          background-color: @color-fff;

          @media only screen and (min-width: 768px) {
            .transition(@type: box-shadow,transform;);
            &:hover {
              -webkit-box-shadow: 0 0 15px rgba(186,204,207,.7);
              box-shadow: 0 0 15px rgba(186,204,207,.7);
              .transform(@x: 0; @y: -10px;);

              .news-item__lt {
                .time {
                  bottom: 0;
                }
              }
            }
          }

          .news-item-link {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
          }

          .news-item__lt {
            width: 150px;
            height: 110px;
            position: relative;
            overflow: hidden;

            .time {
              display: inline-block;
              width: 80px;
              height: 20px;
              line-height: 20px;
              background-color: @color-default;
              font-size: 12px;
              color: @color-fff;
              text-align: center;
              position: absolute;
              bottom: -20px;
              left: 50%;
              .transform(@x: -50%;@y: 0;);
              .transition(@type: bottom;);
            }
          }

          .news-item__rt{
            flex: 1;
            margin-left: 25px;
            .h5-title {
              line-height: 1.2;
              font-size: 16px;
              color: @color-000;
              margin: 0 auto;
              padding: 20px 0;
              .one-line-text-hidden;
              max-width: 350px;
            }

            .text {
              line-height: 1.6;
              font-size: 12px;
              color: @color-999;
              .more-line-text-hidden(2);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {

  // 内容部分
  .content-main {

    .article-main {

      .article-item {
        background-color: @color-fff;

        .m-article__hd {
          display: block;
          width: 10.9rem;
          margin: 1.5rem auto 0;
          background: url("../../assets/images/m-title-bottom_bg.png") no-repeat center bottom;
          -webkit-background-size: 100%;
          background-size: 100%;

          .h4-title {
            color: @color-000;
            font-size: 18px;
            line-height: 1.2;
            text-align: center;
          }

          .text {
            display: block;
            color: @color-999;
            .font-size10;
            text-align: center;
            line-height: 1.5;
          }
        }

        .article-item-main {
          width: 100%;
          padding: 0;
        }

        .article-item-ft {
          padding: 0;
          .more {
            .icon-right(@width: 5rem; @height: 1.5rem; @url: '@{img-url}icon-more.png';);
          }
        }

        &:first-child {
          .article-item-ft {
            display: none;
          }
        }

        &:last-child {
          .article-item-ft {
            padding: 0;
            padding-bottom: 1.25rem;
          }
        }
      }

      .service-area-main {

        .service-area__hd,
        .service-area__bd {
          display: none;
        }

        .m-service-area__bd {
          display: block;
          margin-top: 1rem;
          .service-area-list {

          }

          .service-area-item {
            width: 100%;

            .service-area-item__hd {

            }

            &:nth-child(1) {
              .bg-img(@width: 100%; @height: 9.35rem;@url: '@{img-url}m-criminal-blow_bg.png'; @bg-size: 100%;);
              .service-area-item__bd {
                .h5-title {
                  color: @color-default;
                }
                .text {
                  color: @color-default;
                }
              }

              .service-area-item__ft {
                text-align: center;
                margin-top: 1rem;
                a {
                  display: inline-block;
                  width: 4rem;
                  height: 1.5rem;
                  line-height: 1.35rem;
                  text-align: center;
                  color: @color-default;
                  .font-size10;
                  border: 1px solid @color-default;
                }
              }
            }

            &:nth-child(2) {
              .bg-img(@width: 100%; @height: 9.35rem;@url: '@{img-url}m-technical-testing_bg.png'; @bg-size: 100%;);
            }

            &:nth-child(3) {
              .bg-img(@width: 100%; @height: 9.35rem;@url: '@{img-url}m-legal-counsel_bg.png'; @bg-size: 100%;);
            }

            .service-area-item__bd {
              .h5-title {
                font-size: 18px;
                color: @color-fff;
                line-height: 2.5;
                font-weight: 700;
                text-align: center;
              }
              .text {
                font-size: 14px;
                color: @color-fff;
                line-height: 2;
                padding: 0 1.4rem;
                text-align: center;
                margin-top: .8rem;
              }
            }

            .service-area-item__ft {
              text-align: center;
              margin-top: 1rem;
              a {
                display: inline-block;
                width: 4rem;
                height: 1.5rem;
                line-height: 1.35rem;
                text-align: center;
                color: @color-fff;
                .font-size10;
                border: 1px solid @color-fff;
              }
            }
          }
        }
      }

      .success-case-main {

        .success-case__hd {
          display: none;
        }

        .success-case__bd {

          .success-case-list {
            margin: 0;
            padding: 0 .325rem;
          }

          .success-case-item {
            float: none;
            margin: 0;
            width: 100%;
            background-color: @color-fff;
            padding: 1.15rem .325rem;

            &:not(:last-child) {
              border-bottom: 1px solid @color-e8e8;
            }

            &-link {
              display: -webkit-box;
              display: -webkit-flex;
              display: flex;
            }

            .success-case-item__hd {
              width: 8.5rem;
              height: 4.75rem;
              position: relative;
              overflow: hidden;
              -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
              -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
              box-shadow: 0 0 10px rgba(0,0,0,.4);

              .time {
                display: none;
              }
            }

            .success-case-item__bd {
              flex: 1;
              margin-left: .4rem;
              width: auto;
              height: auto;
              padding: 0;
              max-width: 49%;

              .h5-title {
                line-height: 1.5;
                font-size: 16px;
                color: @color-default;
                padding: 0;
                min-height: auto;
                .one-line-text-hidden;
              }

              .text {
                line-height: 1.5;
                font-size: 14px;
                color: @color-999;
                .more-line-text-hidden(3);
                margin: 0;
                margin-top: .25rem;
              }
            }
          }
        }
      }

      .about-us-main {

        .about-us__hd,
        .about-us__bd {
          display: none;
        }

        .m-about-us__bd {
          padding: 1rem 0;
          .about-us__bd-t {
            width: 100%;
            height: 10rem;
          }

          .about-us__bd-b {

            .text {
              font-size: 14px;
              color: @color-333;
              line-height: 1.5;
              text-indent: 2em;
              padding: 0 .6rem;
              text-align: justify;
              margin: 0;
            }
          }
        }
      }

      .news-main {
        .news__hd {
          display: none;
        }

        .news__bd {

          .news-list {
            margin: 0 .325rem;
          }

          .news-item {
            margin: 0;
            padding: 1.15rem .325rem;
            width: 100%;
            float: none;
            background-color: @color-fff;

            &:not(:last-child) {
              border-bottom: 1px solid @color-e8e8;
            }

            &-link {
              display: -webkit-box;
              display: -webkit-flex;
              display: flex;
            }

            .news-item__lt {
              width: 8.5rem;
              height: 4.75rem;
              position: relative;
              overflow: hidden;
              -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
              -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
              box-shadow: 0 0 10px rgba(0,0,0,.4);

              .time {
                display: none;
              }
            }

            .news-item__rt{
              flex: 1;
              margin-left: .4rem;
              width: auto;
              height: auto;
              padding: 0;
              max-width: 49%;

              .h5-title {
                line-height: 1.5;
                font-size: 16px;
                color: @color-default;
                padding: 0;
                .one-line-text-hidden;
              }

              .text {
                line-height: 1.5;
                font-size: 14px;
                color: @color-999;
                .more-line-text-hidden(3);
                margin: 0;
                margin-top: .25rem;
              }
            }
          }
        }
      }
    }
  }
}