/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/* 基础样式 */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}
body {
  visibility: visible !important;
  font-family: "Microsoft YaHei", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
body.overflow {
  overflow: hidden;
}
ul,
li,
ol,
dl {
  list-style: none;
}
i,
s {
  font-style: normal;
  font-weight: 400;
}
img,
svg {
  width: 100%;
  vertical-align: bottom;
}
a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #d23229 !important;
  text-decoration: none;
}
a,
button,
input,
select,
textarea {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '';
  height: 0;
  line-height: 0;
  clear: both;
  display: block;
}
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}
.color-fff {
  color: #fff;
}
.color-ccc {
  color: #ccc;
}
.color-000 {
  color: #000;
}
.color-333 {
  color: #333;
}
.color-666 {
  color: #666;
}
.color-999 {
  color: #999;
}
.bgc-fff {
  background-color: #fff;
}
.bgc-f2f2 {
  background-color: #f2f2f2;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.height-auto {
  height: auto;
}
.float-l,
.pull-left {
  float: left;
}
.float-r,
.pull-right {
  float: right;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.font-size10 {
  font-size: 10px;
  -webkit-transform: scale(0.83);
  -moz-transform: scale(0.83);
  -ms-transform: scale(0.83);
  -o-transform: scale(0.83);
  transform: scale(0.83);
  *font-size: 10px;
}
.font-size8 {
  font-size: 8px;
  -webkit-transform: scale(0.67);
  -moz-transform: scale(0.67);
  -ms-transform: scale(0.67);
  -o-transform: scale(0.67);
  transform: scale(0.67);
  *font-size: 8px;
}
.border {
  border-bottom: 1px solid #e8e8e8;
}
.shadow {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.img-wrap {
  width: 100%;
  height: 100%;
}
.img-wrap img,
.img-wrap .img {
  width: 100%;
  height: 100%;
}
.nav-header-main,
.banner-main,
.footer-main {
  padding: 0 10px;
  margin: 0 auto;
}
.article-main {
  width: 100%;
}
.nav-header-wrap {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 80px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-header-wrap.bg-img {
  background-color: #333;
}
.nav-header-main {
  height: 80px;
  line-height: 80px;
}
.nav-header-main .nav-header__hd {
  display: inline-block;
}
.nav-header-main .nav-header__hd .logo {
  display: inline-block;
  width: 125px;
  height: 35px;
  background: transparent url('../assets/images/logo.png') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
}
.nav-header-main .nav-header__bd {
  display: inline-block;
  margin-left: 60px;
}
.nav-header-main .nav-header__bd .nav-item {
  display: inline-block;
  font-size: 16px;
  vertical-align: bottom;
  line-height: 80px;
}
.nav-header-main .nav-header__bd .nav-item .page {
  display: inline-block;
  padding: 0 40px;
  color: #fff;
}
.nav-header-main .nav-header__bd .nav-item .page:hover {
  color: #d23229;
}
.nav-header-main .nav-header__bd .nav-item .page.active {
  color: #d23229;
}
.nav-header-main .nav-header__bd .nav-item.about-us-item,
.nav-header-main .nav-header__bd .nav-item.service-case-item {
  position: relative;
}
.nav-header-main .nav-header__bd .nav-item.about-us-item:hover .about-list,
.nav-header-main .nav-header__bd .nav-item.service-case-item:hover .about-list,
.nav-header-main .nav-header__bd .nav-item.about-us-item:hover .service-list,
.nav-header-main .nav-header__bd .nav-item.service-case-item:hover .service-list {
  -webkit-animation: moveUp .5s;
  -o-animation: moveUp .5s;
  animation: moveUp .5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.nav-header-main .nav-header__bd .nav-item.about-us-item .about-list,
.nav-header-main .nav-header__bd .nav-item.service-case-item .about-list,
.nav-header-main .nav-header__bd .nav-item.about-us-item .service-list,
.nav-header-main .nav-header__bd .nav-item.service-case-item .service-list {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 45px;
  background-color: #f5f5f5;
  border-top: 2px solid #d23229;
  margin: 0;
  opacity: 1;
  visibility: hidden;
}
.nav-header-main .nav-header__bd .nav-item.about-us-item .about-list:before,
.nav-header-main .nav-header__bd .nav-item.service-case-item .about-list:before,
.nav-header-main .nav-header__bd .nav-item.about-us-item .service-list:before,
.nav-header-main .nav-header__bd .nav-item.service-case-item .service-list:before {
  content: '';
  display: inline-block;
  border-left: 10px solid #d23229;
  border-top: 10px solid #d23229;
  border-right: 10px solid #f5f5f5;
  border-bottom: 10px solid #f5f5f5;
  position: absolute;
  top: -10px;
  left: 45%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  z-index: -1;
}
.nav-header-main .nav-header__bd .nav-item.about-us-item .about-list .about-item,
.nav-header-main .nav-header__bd .nav-item.service-case-item .about-list .about-item,
.nav-header-main .nav-header__bd .nav-item.about-us-item .service-list .about-item,
.nav-header-main .nav-header__bd .nav-item.service-case-item .service-list .about-item,
.nav-header-main .nav-header__bd .nav-item.about-us-item .about-list .service-item,
.nav-header-main .nav-header__bd .nav-item.service-case-item .about-list .service-item,
.nav-header-main .nav-header__bd .nav-item.about-us-item .service-list .service-item,
.nav-header-main .nav-header__bd .nav-item.service-case-item .service-list .service-item {
  position: relative;
  z-index: 9;
}
.nav-header-main .nav-header__bd .nav-item.about-us-item .about-list .about-item:not(:last-child),
.nav-header-main .nav-header__bd .nav-item.service-case-item .about-list .about-item:not(:last-child),
.nav-header-main .nav-header__bd .nav-item.about-us-item .service-list .about-item:not(:last-child),
.nav-header-main .nav-header__bd .nav-item.service-case-item .service-list .about-item:not(:last-child),
.nav-header-main .nav-header__bd .nav-item.about-us-item .about-list .service-item:not(:last-child),
.nav-header-main .nav-header__bd .nav-item.service-case-item .about-list .service-item:not(:last-child),
.nav-header-main .nav-header__bd .nav-item.about-us-item .service-list .service-item:not(:last-child),
.nav-header-main .nav-header__bd .nav-item.service-case-item .service-list .service-item:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}
.nav-header-main .nav-header__bd .nav-item.about-us-item .about-list a,
.nav-header-main .nav-header__bd .nav-item.service-case-item .about-list a,
.nav-header-main .nav-header__bd .nav-item.about-us-item .service-list a,
.nav-header-main .nav-header__bd .nav-item.service-case-item .service-list a {
  display: block;
  font-size: 14px;
  color: #333;
}
@keyframes moveUp {
  0% {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.nav-header-main .nav-header__ft {
  display: none;
}
@media only screen and (max-width: 767px) {
  .nav-header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 3rem;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
  }
  .nav-header-main {
    height: 3rem;
    line-height: 3rem;
    padding: 0 .5rem;
  }
  .nav-header-main .nav-header__hd {
    display: inline-block;
  }
  .nav-header-main .nav-header__hd .logo {
    display: inline-block;
    width: 84px;
    height: 24px;
    background: transparent url('../assets/images/m-logo.png') no-repeat center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
  }
  .nav-header-main .nav-header__bd {
    display: none;
  }
  .nav-header-main .nav-header__ft {
    display: inline-block;
    float: right;
  }
  .nav-header-main .nav-header__ft a {
    display: block;
  }
  .nav-header-main .nav-header__ft .m-icon-menu {
    padding: 0 .5rem;
  }
  .nav-header-main .nav-header__ft .m-icon-menu:after {
    content: '';
    display: inline-block;
    width: 28px;
    height: 24px;
    background: transparent url('../assets/images/m-icon-menu.png') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    vertical-align: middle;
  }
  .nav-header-main .nav-header__ft .m-icon-close-menu {
    padding: 0 .5rem;
  }
  .nav-header-main .nav-header__ft .m-icon-close-menu:after {
    content: '';
    display: inline-block;
    width: 28px;
    height: 24px;
    background: transparent url('../assets/images/m-icon-close-menu.png') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    vertical-align: middle;
  }
}
.footer-wrap {
  width: 100%;
  background-color: #333;
}
.footer-main {
  padding: 60px 10px;
}
.footer-main .footer__bd-title {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 25px;
}
.footer-main .contact-list {
  font-size: 14px;
  color: #999;
  line-height: 2;
}
.footer-main .contact-list .contact-item {
  display: inline-block;
  min-width: 290px;
}
.footer-main .copyright {
  font-size: 14px;
  color: #999;
  margin-top: 25px;
}
.back-top {
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: none;
  z-index: 99;
}
.back-top .icon-back-top:after {
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  background: transparent url('../assets/images/icon-back-top.png') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .footer-main {
    padding: 1.15rem .75rem 1.5rem;
  }
  .footer-main .footer__bd-title {
    font-size: 16px;
    color: #fff;
    line-height: 1;
    margin-bottom: 2rem;
  }
  .footer-main .contact-list {
    font-size: 14px;
    color: #999;
    line-height: 1.5;
  }
  .footer-main .contact-list .contact-item {
    display: inline-block;
    min-width: 45%;
    float: left;
    margin-bottom: .8rem;
  }
  .footer-main .contact-list .contact-item-placeholder {
    display: none;
  }
  .footer-main .copyright {
    font-size: 14px;
    color: #999;
    margin-top: 1rem;
    line-height: 1.5;
  }
  .back-top {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;
    z-index: 99;
  }
  .back-top .icon-back-top:after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background: transparent url('../assets/images/icon-back-top.png') no-repeat center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
  }
}
.banner-wrap {
  width: 100%;
  height: 880px;
  background: #fff url('../assets/images/index_banner_bg.png') no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  vertical-align: middle;
}
.banner-main {
  height: 100%;
}
.banner-main .banner__bd {
  height: 100%;
  position: relative;
}
.banner-main .banner__bd .icon-banner-down {
  position: absolute;
  left: 50%;
  bottom: 170px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  cursor: pointer;
  -webkit-animation: move 2s infinite;
  -o-animation: move 2s infinite;
  animation: move 2s infinite;
}
.banner-main .banner__bd .icon-banner-down:after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 60px;
  background: transparent url('../assets/images/icon-banner-down.png') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
}
@keyframes move {
  0% {
    bottom: 170px;
  }
  50% {
    bottom: 160px;
  }
  100% {
    bottom: 170px;
  }
}
@media only screen and (max-width: 767px) {
  .banner-wrap {
    margin-top: 3rem;
    width: 100%;
    height: 11rem;
    background: #fff url('../assets/images/m-index_banner_bg.png') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    vertical-align: middle;
  }
  .banner-main {
    height: 100%;
  }
  .banner-main .banner__bd {
    display: none;
  }
}
.m-aside-menu-wrap {
  display: none;
}
@media only screen and (max-width: 767px) {
  .m-aside-menu-wrap {
    display: block;
    position: fixed;
    left: 0;
    top: 3rem;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .m-aside-menu-wrap.show {
    opacity: 1;
    visibility: visible;
  }
  .m-aside-menu-main {
    position: absolute;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s;
  }
  .m-aside-menu-main.show {
    right: 0;
  }
  .m-aside-menu-main .aside-menu-list .aside-menu-item:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
  }
  .m-aside-menu-main .aside-menu-list .aside-menu-item a {
    display: block;
    height: 4rem;
    line-height: 4rem;
    color: #d23229;
    font-size: 18px;
    text-align: center;
  }
  .m-aside-menu-main .aside-menu-list .aside-menu-item a:active {
    background-color: #e8e8e8;
  }
}
/* 媒体查询 */
@media only screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 17px!important;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 19px!important;
  }
}
@media only screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 20px!important;
  }
}
@media only screen and (min-width: 384px) and (max-width: 400px) {
  html {
    font-size: 20.5px!important;
  }
}
@media only screen and (min-width: 401px) and (max-width: 479px) {
  html {
    font-size: 22px!important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
  html {
    font-size: 25px!important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  html {
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  html {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1201px) {
  html {
    font-size: 25px;
  }
  body {
    margin: 0 auto;
  }
  .nav-header-main,
  .banner-main,
  .footer-main {
    width: 1220px;
  }
}
@media only screen and (min-width: 768px) {
  .content-main .article-main .article-item:nth-child(even) {
    background-color: #f7f7f7;
  }
}
.content-main .article-main .article-item .m-article__hd {
  display: none;
}
.content-main .article-main .article-item .article-item-main {
  width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.content-main .article-main .article-item .article-item-ft {
  padding: 100px 0;
  text-align: center;
}
.content-main .article-main .article-item .article-item-ft .more:after {
  content: '';
  display: inline-block;
  width: 156px;
  height: 46px;
  background: #fff url('../assets/images/icon-more.png') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
}
.content-main .article-main .article-item:last-child .article-item-ft {
  padding: 100px 0 60px;
}
.content-main .article-main .service-area-main .service-area__hd {
  padding: 60px 0 70px;
}
.content-main .article-main .service-area-main .service-area__hd .service-area__hd-title {
  width: 434px;
  height: 58px;
  background: transparent url('../assets/images/service_area_bg.png') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 auto;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-item {
  width: 238px;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-item .service-area-item__hd {
  text-align: center;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-item .service-area-item__hd a {
  display: inline-block;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-item:nth-child(1) .service-area-item__hd a {
  width: 160px;
  height: 160px;
  background: #fff url('../assets/images/technical_testing_unselect_bg.png') no-repeat center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -ms-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  vertical-align: middle;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-item:nth-child(1) .service-area-item__hd a:hover,
.content-main .article-main .service-area-main .service-area__bd .service-area-item:nth-child(1) .service-area-item__hd a.active {
  width: 160px;
  height: 160px;
  background: #fff url('../assets/images/technical_testing_selected_bg.png') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-item:nth-child(2) .service-area-item__hd a {
  width: 160px;
  height: 160px;
  background: #fff url('../assets/images/criminal_blow_unselect_bg.png') no-repeat center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -ms-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  vertical-align: middle;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-item:nth-child(2) .service-area-item__hd a:hover,
.content-main .article-main .service-area-main .service-area__bd .service-area-item:nth-child(2) .service-area-item__hd a.active {
  width: 160px;
  height: 160px;
  background: #fff url('../assets/images/criminal_blow_selected_bg.png') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-item:nth-child(3) .service-area-item__hd a {
  width: 160px;
  height: 160px;
  background: #fff url('../assets/images/legal_counsel_unselect_bg.png') no-repeat center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -ms-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  vertical-align: middle;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-item:nth-child(3) .service-area-item__hd a:hover,
.content-main .article-main .service-area-main .service-area__bd .service-area-item:nth-child(3) .service-area-item__hd a.active {
  width: 160px;
  height: 160px;
  background: #fff url('../assets/images/legal_counsel_selected_bg.png') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-item .service-area-item__bd .h5-title {
  font-size: 18px;
  color: #000;
  line-height: 2;
  font-weight: 700;
  text-align: center;
}
.content-main .article-main .service-area-main .service-area__bd .service-area-item .service-area-item__bd .text {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}
@media only screen and (min-width: 768px) {
  .content-main .article-main .service-area-main .m-service-area__bd {
    display: none;
  }
}
.content-main .article-main .success-case-main .success-case__hd {
  padding: 60px 0 70px;
}
.content-main .article-main .success-case-main .success-case__hd .success-case__hd-title {
  width: 434px;
  height: 58px;
  background: transparent url('../assets/images/success_case_bg.png') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 auto;
}
.content-main .article-main .success-case-main .success-case__bd .success-case-list {
  margin: 0 -15px -40px;
}
.content-main .article-main .success-case-main .success-case__bd .success-case-item {
  display: inline-block;
  float: left;
  margin: 0 15px 45px;
  width: 380px;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .content-main .article-main .success-case-main .success-case__bd .success-case-item {
    -webkit-transition: box-shadow, transform 0.3s;
    -moz-transition: box-shadow, transform 0.3s;
    -ms-transition: box-shadow, transform 0.3s;
    -o-transition: box-shadow, transform 0.3s;
    transition: box-shadow, transform 0.3s;
  }
  .content-main .article-main .success-case-main .success-case__bd .success-case-item:hover {
    -webkit-box-shadow: 0 0 15px rgba(186, 204, 207, 0.7);
    box-shadow: 0 0 15px rgba(186, 204, 207, 0.7);
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }
  .content-main .article-main .success-case-main .success-case__bd .success-case-item:hover .success-case-item__hd .time {
    bottom: 0;
  }
}
.content-main .article-main .success-case-main .success-case__bd .success-case-item .success-case-item__hd {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.content-main .article-main .success-case-main .success-case__bd .success-case-item .success-case-item__hd .time {
  display: inline-block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  background-color: #d23229;
  font-size: 14px;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -ms-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s;
}
.content-main .article-main .success-case-main .success-case__bd .success-case-item .success-case-item__bd {
  width: 100%;
  height: 160px;
  padding: 0 20px 20px;
}
.content-main .article-main .success-case-main .success-case__bd .success-case-item .success-case-item__bd .h5-title {
  max-width: 240px;
  line-height: 1.5;
  font-size: 16px;
  color: #000;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  min-height: 108px;
}
.content-main .article-main .success-case-main .success-case__bd .success-case-item .success-case-item__bd .text {
  line-height: 1.6;
  font-size: 12px;
  color: #999;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.content-main .article-main .about-us-main .about-us__hd {
  padding: 60px 0 70px;
}
.content-main .article-main .about-us-main .about-us__hd .about-us__hd-title {
  width: 434px;
  height: 58px;
  background: transparent url('../assets/images/about_us_bg.png') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 auto;
}
.content-main .article-main .about-us-main .about-us__bd {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.content-main .article-main .about-us-main .about-us__bd .about-us__bd-lt {
  flex: 1;
  margin-right: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.content-main .article-main .about-us-main .about-us__bd .about-us__bd-lt .text {
  display: inline-block;
  font-size: 16px;
  color: #333;
  text-indent: 2em;
}
.content-main .article-main .about-us-main .about-us__bd .about-us__bd-rt {
  width: 460px;
}
@media only screen and (min-width: 768px) {
  .content-main .article-main .about-us-main .m-about-us__bd {
    display: none;
  }
}
.content-main .article-main .news-main .news__hd {
  padding: 60px 0 70px;
}
.content-main .article-main .news-main .news__hd .news__hd-title {
  width: 434px;
  height: 58px;
  background: transparent url('../assets/images/news_bg.png') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -ms-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  vertical-align: middle;
  margin: 0 auto;
}
.content-main .article-main .news-main .news__bd .news-list {
  margin: 0 -20px -30px;
}
.content-main .article-main .news-main .news__bd .news-item {
  margin: 0 20px 30px;
  padding: 25px;
  width: 580px;
  float: left;
  background-color: #fff;
}
@media only screen and (min-width: 768px) {
  .content-main .article-main .news-main .news__bd .news-item {
    -webkit-transition: box-shadow, transform 0.3s;
    -moz-transition: box-shadow, transform 0.3s;
    -ms-transition: box-shadow, transform 0.3s;
    -o-transition: box-shadow, transform 0.3s;
    transition: box-shadow, transform 0.3s;
  }
  .content-main .article-main .news-main .news__bd .news-item:hover {
    -webkit-box-shadow: 0 0 15px rgba(186, 204, 207, 0.7);
    box-shadow: 0 0 15px rgba(186, 204, 207, 0.7);
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }
  .content-main .article-main .news-main .news__bd .news-item:hover .news-item__lt .time {
    bottom: 0;
  }
}
.content-main .article-main .news-main .news__bd .news-item .news-item-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.content-main .article-main .news-main .news__bd .news-item .news-item__lt {
  width: 150px;
  height: 110px;
  position: relative;
  overflow: hidden;
}
.content-main .article-main .news-main .news__bd .news-item .news-item__lt .time {
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  background-color: #d23229;
  font-size: 12px;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -ms-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s;
}
.content-main .article-main .news-main .news__bd .news-item .news-item__rt {
  flex: 1;
  margin-left: 25px;
}
.content-main .article-main .news-main .news__bd .news-item .news-item__rt .h5-title {
  line-height: 1.2;
  font-size: 16px;
  color: #000;
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 350px;
}
.content-main .article-main .news-main .news__bd .news-item .news-item__rt .text {
  line-height: 1.6;
  font-size: 12px;
  color: #999;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media only screen and (max-width: 767px) {
  .content-main .article-main .article-item {
    background-color: #fff;
  }
  .content-main .article-main .article-item .m-article__hd {
    display: block;
    width: 10.9rem;
    margin: 1.5rem auto 0;
    background: url("../../assets/images/m-title-bottom_bg.png") no-repeat center bottom;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  .content-main .article-main .article-item .m-article__hd .h4-title {
    color: #000;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
  }
  .content-main .article-main .article-item .m-article__hd .text {
    display: block;
    color: #999;
    font-size: 10px;
    -webkit-transform: scale(0.83);
    -moz-transform: scale(0.83);
    -ms-transform: scale(0.83);
    -o-transform: scale(0.83);
    transform: scale(0.83);
    *font-size: 10px;
    text-align: center;
    line-height: 1.5;
  }
  .content-main .article-main .article-item .article-item-main {
    width: 100%;
    padding: 0;
  }
  .content-main .article-main .article-item .article-item-ft {
    padding: 0;
  }
  .content-main .article-main .article-item .article-item-ft .more:after {
    content: '';
    display: inline-block;
    width: 5rem;
    height: 1.5rem;
    background: #fff url('../assets/images/icon-more.png') no-repeat center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
  }
  .content-main .article-main .article-item:first-child .article-item-ft {
    display: none;
  }
  .content-main .article-main .article-item:last-child .article-item-ft {
    padding: 0;
    padding-bottom: 1.25rem;
  }
  .content-main .article-main .service-area-main .service-area__hd,
  .content-main .article-main .service-area-main .service-area__bd {
    display: none;
  }
  .content-main .article-main .service-area-main .m-service-area__bd {
    display: block;
    margin-top: 1rem;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item {
    width: 100%;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item:nth-child(1) {
    width: 100%;
    height: 9.35rem;
    background: #fff url('../assets/images/m-criminal-blow_bg.png') no-repeat center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item:nth-child(1) .service-area-item__bd .h5-title {
    color: #d23229;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item:nth-child(1) .service-area-item__bd .text {
    color: #d23229;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item:nth-child(1) .service-area-item__ft {
    text-align: center;
    margin-top: 1rem;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item:nth-child(1) .service-area-item__ft a {
    display: inline-block;
    width: 4rem;
    height: 1.5rem;
    line-height: 1.35rem;
    text-align: center;
    color: #d23229;
    font-size: 10px;
    -webkit-transform: scale(0.83);
    -moz-transform: scale(0.83);
    -ms-transform: scale(0.83);
    -o-transform: scale(0.83);
    transform: scale(0.83);
    *font-size: 10px;
    border: 1px solid #d23229;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item:nth-child(2) {
    width: 100%;
    height: 9.35rem;
    background: #fff url('../assets/images/m-technical-testing_bg.png') no-repeat center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item:nth-child(3) {
    width: 100%;
    height: 9.35rem;
    background: #fff url('../assets/images/m-legal-counsel_bg.png') no-repeat center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    vertical-align: middle;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item .service-area-item__bd .h5-title {
    font-size: 18px;
    color: #fff;
    line-height: 2.5;
    font-weight: 700;
    text-align: center;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item .service-area-item__bd .text {
    font-size: 14px;
    color: #fff;
    line-height: 2;
    padding: 0 1.4rem;
    text-align: center;
    margin-top: .8rem;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item .service-area-item__ft {
    text-align: center;
    margin-top: 1rem;
  }
  .content-main .article-main .service-area-main .m-service-area__bd .service-area-item .service-area-item__ft a {
    display: inline-block;
    width: 4rem;
    height: 1.5rem;
    line-height: 1.35rem;
    text-align: center;
    color: #fff;
    font-size: 10px;
    -webkit-transform: scale(0.83);
    -moz-transform: scale(0.83);
    -ms-transform: scale(0.83);
    -o-transform: scale(0.83);
    transform: scale(0.83);
    *font-size: 10px;
    border: 1px solid #fff;
  }
  .content-main .article-main .success-case-main .success-case__hd {
    display: none;
  }
  .content-main .article-main .success-case-main .success-case__bd .success-case-list {
    margin: 0;
    padding: 0 .325rem;
  }
  .content-main .article-main .success-case-main .success-case__bd .success-case-item {
    float: none;
    margin: 0;
    width: 100%;
    background-color: #fff;
    padding: 1.15rem .325rem;
  }
  .content-main .article-main .success-case-main .success-case__bd .success-case-item:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
  }
  .content-main .article-main .success-case-main .success-case__bd .success-case-item-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  .content-main .article-main .success-case-main .success-case__bd .success-case-item .success-case-item__hd {
    width: 8.5rem;
    height: 4.75rem;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  .content-main .article-main .success-case-main .success-case__bd .success-case-item .success-case-item__hd .time {
    display: none;
  }
  .content-main .article-main .success-case-main .success-case__bd .success-case-item .success-case-item__bd {
    flex: 1;
    margin-left: .4rem;
    width: auto;
    height: auto;
    padding: 0;
    max-width: 49%;
  }
  .content-main .article-main .success-case-main .success-case__bd .success-case-item .success-case-item__bd .h5-title {
    line-height: 1.5;
    font-size: 16px;
    color: #d23229;
    padding: 0;
    min-height: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .content-main .article-main .success-case-main .success-case__bd .success-case-item .success-case-item__bd .text {
    line-height: 1.5;
    font-size: 14px;
    color: #999;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin: 0;
    margin-top: .25rem;
  }
  .content-main .article-main .about-us-main .about-us__hd,
  .content-main .article-main .about-us-main .about-us__bd {
    display: none;
  }
  .content-main .article-main .about-us-main .m-about-us__bd {
    padding: 1rem 0;
  }
  .content-main .article-main .about-us-main .m-about-us__bd .about-us__bd-t {
    width: 100%;
    height: 10rem;
  }
  .content-main .article-main .about-us-main .m-about-us__bd .about-us__bd-b .text {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    text-indent: 2em;
    padding: 0 .6rem;
    text-align: justify;
    margin: 0;
  }
  .content-main .article-main .news-main .news__hd {
    display: none;
  }
  .content-main .article-main .news-main .news__bd .news-list {
    margin: 0 .325rem;
  }
  .content-main .article-main .news-main .news__bd .news-item {
    margin: 0;
    padding: 1.15rem .325rem;
    width: 100%;
    float: none;
    background-color: #fff;
  }
  .content-main .article-main .news-main .news__bd .news-item:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
  }
  .content-main .article-main .news-main .news__bd .news-item-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  .content-main .article-main .news-main .news__bd .news-item .news-item__lt {
    width: 8.5rem;
    height: 4.75rem;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  .content-main .article-main .news-main .news__bd .news-item .news-item__lt .time {
    display: none;
  }
  .content-main .article-main .news-main .news__bd .news-item .news-item__rt {
    flex: 1;
    margin-left: .4rem;
    width: auto;
    height: auto;
    padding: 0;
    max-width: 49%;
  }
  .content-main .article-main .news-main .news__bd .news-item .news-item__rt .h5-title {
    line-height: 1.5;
    font-size: 16px;
    color: #d23229;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .content-main .article-main .news-main .news__bd .news-item .news-item__rt .text {
    line-height: 1.5;
    font-size: 14px;
    color: #999;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin: 0;
    margin-top: .25rem;
  }
}
/*# sourceMappingURL=index.css.map */