@import '../../components/common';

// 内容部分
.content-wrap {
  background-color: @color-eee;
}
.content-main {
  width: 1220px;
  padding: 0 10px;
  margin: 0 auto;

  .article-wrap {
    padding: 30px 0 100px;
  }
  .article-main {
    width: 100%;

    .article__hd {
      display: inline-block;
      width: 240px;
      background-color: @color-fff;
      margin-top: -120px;
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
      box-shadow: 0 0 10px rgba(0,0,0,.4);

      .article__hd-title {
        padding: 40px 40px 0;

        .h4-title {
          color: @color-default;
          font-size: 24px;
          font-weight: 700;
          line-height: 1;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid @color-f2f2;
        }

        .text {
          display: block;
          color: @color-999;
          font-size: 14px;
          text-align: right;
          line-height: 1;
        }
      }

      .article__hd-list {
        padding: 25px 0;
        margin: 0;
        .article__hd-item {
          display: block;
          height: 55px;
          line-height: 55px;
          color: @color-000;
          font-size: 14px;
          padding-left: 40px;
          position: relative;
          cursor: pointer;

          &:not(:last-child) {
            border-bottom: 1px solid @color-e8e8;
          }

          &:hover,
          &.active {
            background-color: @color-f2f2;
            &:before {
              content: '';
              display: inline-block;
              width: 4px;
              height: 15px;
              background-color: @color-default;
              position: absolute;
              top: 50%;
              .transform(0, -50%);
              left: 26px;
            }
          }
        }
      }
    }

    .m-article__hd {
      display: none;
    }

    .article__bd {
      display: inline-block;
      float: right;
      width: 920px;
      padding: 40px 40px 60px;
      background-color: @color-fff;

      .service-process {

        .service-process-chart {

          .bg-img(@width: 100%; @height: 400px; @url: '@{img-url}service-process_bg.png'; @bg_position: center center; @bg-size: 'auto';)
        }
      }

      .classic-case {

        .classic-case-list {

          .classic-case-item-link {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;

            &:hover {
              .classic-case-item__rt {
                .h4-title {
                  color: @color-default;
                }
              }
            }
          }

          .classic-case-item {
            padding: 30px 0;

            &:first-child {
              padding-top: 0;
            }

            &:not(:last-child) {
              border-bottom: 1px solid @color-e8e8;
            }

            .classic-case-item__lt {
              //display: inline-block;
              //float: left;
              width: 120px;
              height: 80px;
              border: 1px solid @color-e8e8;
              background-color: pink;
            }

            .classic-case-item__rt {
              //display: inline-block;
              flex: 1;
              margin-left: 20px;

              .classic-case-item__rt-title {
                margin: 15px 0 20px;
                line-height: 1;
              }

              .h4-title {
                display: inline-block;
                font-size: 16px;
                color: @color-000;
                font-weight: 700;
                .transition();
              }

              .time {
                font-size: 16px;
                color: @color-ccc;
                float: right;
              }

              .text {
                font-size: 12px;
                color: @color-666;
                max-width: 700px;
                .one-line-text-hidden;
              }
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {

  // 内容部分
  .content-wrap {
    background-color: @color-fff;
  }
  .content-main {
    width: 100%;
    padding: 0;
    margin: 0;


    .article-wrap {
      padding: 1.5rem 0;
    }
    .article-main {
      width: 100%;

      .article__hd {
        display: none;
      }

      .m-article__hd {
        display: block;
        width: 10.9rem;
        margin: 0 auto;
        background: url("../../assets/images/m-title-bottom_bg.png") no-repeat center bottom;
        -webkit-background-size: 100%;
        background-size: 100%;

        .h4-title {
          color: @color-000;
          font-size: 18px;
          font-weight: 700;
          line-height: 1.2;
          text-align: center;
        }

        .text {
          display: block;
          color: @color-999;
          .font-size10;
          text-align: center;
          line-height: 1.5;
        }
      }

      .article__bd {
        display: inline-block;
        float: none;
        width: 100%;
        padding: 0;
        background-color: @color-fff;

        .service-process {
          padding: 1.5rem .75rem 2rem;

          .service-process-chart {
            .bg-img(@width: 100%; @height: 14.25rem; @url: '@{img-url}m-service-process_bg.png'; @bg_position: center center;)
          }
        }

        .classic-case {
          display: block !important;

          .classic-case-list {
            margin: 0 .325rem;

            .classic-case-item-link {
              display: -webkit-box;
              display: -webkit-flex;
              display: flex;
            }

            .classic-case-item {
              padding: 1.15rem .325rem;

              &:first-child {
                padding: 1.15rem .325rem;
              }

              &:not(:last-child) {
                border-bottom: 1px solid @color-e8e8;
              }

              .classic-case-item__lt {
                width: 8.5rem;
                height: 4.75rem;
                background-color: pink;
                overflow: hidden;
                -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
                -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
                box-shadow: 0 0 10px rgba(0,0,0,.4);
              }

              .classic-case-item__rt {
                flex: 1;
                margin-left: .4rem;
                width: auto;
                height: auto;
                padding: 0;
                max-width: 49%;

                .classic-case-item__rt-title {
                  margin: 0;
                }

                .h4-title {
                  display: inline-block;
                  width: 100%;
                  line-height: 1.5;
                  font-size: 16px;
                  color: @color-default;
                  padding: 0;
                  vertical-align: bottom;
                  .one-line-text-hidden;
                }

                .time {
                  display: none;
                }

                .text {
                  width: 100%;
                  line-height: 1.5;
                  font-size: 14px;
                  color: @color-999;
                  margin: 0;
                  margin-top: .25rem;
                  white-space: normal;
                  .more-line-text-hidden(3);
                }
              }
            }

          }
        }
      }
    }
  }
}