.nav-header-wrap {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 80px;
  .transition();
  &.bg-img {
    background-color: @color-333;
    //background: -webkit-linear-gradient(to right, #4B4133 0, #5F5842 100%);
    //background: -moz-linear-gradient(to right, #4B4133 0, #5F5842 100%);
    //background: -o-linear-gradient(to right, #4B4133 0, #5F5842 100%);
    //background: linear-gradient(to right, #4B4133 0, #5F5842 100%);
  }
}

// 导航部分
.nav-header-main {
  height: 80px;
  line-height: 80px;

  .nav-header__hd {
    display: inline-block;
    .logo {
      display: inline-block;
      .bg-img(@width: 125px; @height: 35px; @bgc: transparent; @url: '@{img-url}logo.png';);
    }
  }

  .nav-header__bd {
    display: inline-block;
    margin-left: 60px;

    .nav-item {
      display: inline-block;
      font-size: 16px;
      vertical-align: bottom;
      line-height: 80px;
      .page {
        display: inline-block;
        padding: 0 40px;
        color: @color-fff;

        &:hover {
          color: @color-default;
        }

        &.active {
          color: @color-default;
        }
      }

      &.about-us-item,
      &.service-case-item {
        position: relative;

        &:hover {

          .about-list,
          .service-list {
            -webkit-animation: moveUp .5s;
            -o-animation: moveUp .5s;
            animation: moveUp .5s;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            -o-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
          }
        }
        .about-list,
        .service-list {
          position: absolute;
          width: 100%;
          text-align: center;
          line-height: 45px;
          background-color: @color-f5f5;
          border-top: 2px solid @color-default;
          margin: 0;
          opacity: 1;
          visibility: hidden;
          //z-index: 9;

          &:before {
            content: '';
            display: inline-block;
            border-left: 10px solid @color-default;
            border-top: 10px solid @color-default;
            border-right: 10px solid @color-f5f5;
            border-bottom: 10px solid @color-f5f5;
            //width: 20px;
            //height: 20px;
            position: absolute;
            top: -10px;
            left: 45%;
            .transform(-50%, 0);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: @color-fff;
            z-index: -1;
          }

          .about-item,
          .service-item {
            position: relative;
            z-index: 9;
            &:not(:last-child) {
              border-bottom: 1px solid @color-e8e8;
            }
          }

          a {
            display: block;
            font-size: 14px;
            color: @color-333;
          }
        }
      }

      @keyframes moveUp {
        0% {
          opacity: 0;
          visibility: visible;
          .transform(0, 20px);
        }
        100% {
          opacity: 1;
          visibility: visible;
          .transform(0, 0);
        }
      }
    }
  }
  .nav-header__ft {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .nav-header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 3rem;
    background-color: @color-fff;
    border-bottom: 1px solid @color-e8e8;
  }

  // 导航部分
  .nav-header-main {
    height: 3rem;
    line-height: 3rem;
    padding: 0 .5rem;
    .nav-header__hd {
      display: inline-block;
      .logo {
        display: inline-block;
        .bg-img(@width: 84px; @height: 24px; @bgc: transparent; @url: '@{img-url}m-logo.png';);
      }
    }

    .nav-header__bd {
      display: none;
    }
    .nav-header__ft {
      display: inline-block;
      float: right;

      a {
        display: block;
      }

      .m-icon-menu {
        padding: 0 .5rem;
        .icon-right(@width: 28px; @height: 24px; @bgc: transparent; @url: '@{img-url}m-icon-menu.png'; @bg-size: contain;)
      }

      .m-icon-close-menu {
        padding: 0 .5rem;
        .icon-right(@width: 28px; @height: 24px; @bgc: transparent; @url: '@{img-url}m-icon-close-menu.png'; @bg-size: contain;)
      }
    }
  }
}