@import "normalize";

@color-default: #d23229;
@color-ec1b24: #ec1b24;
@color-08d665: #08d665;
@color-f2d846: #f2d846;
@color-e8e8: #e8e8e8;
@color-fe6160: #fe6160;
@color-7ecef4: #7ecef4;
@color-b2c5e6: #b2c5e6;
@color-5e89cc: #5e89cc;
@color-000: #000;
@color-333: #333;
@color-666: #666;
@color-999: #999;
@color-ccc: #ccc;
@color-eee: #eee;
@color-fff: #fff;
@color-f7f7: #f7f7f7;
@color-f5f5: #f5f5f5;
@color-f2f2: #f2f2f2;
@color-b2b2: #b2b2b2;

@img-url: '../assets/images/';
/* 基础样式 */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}
body {
  visibility: visible !important;
  font-family:
    "Microsoft YaHei",
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    Arial,
    "PingFang SC",
    "Hiragino Sans GB",
    STHeiti,
    "Microsoft JhengHei",
    "Source Han Sans SC",
    "Noto Sans CJK SC",
    "Source Han Sans CN",
    "Noto Sans SC",
    "Source Han Sans TC",
    "Noto Sans CJK TC",
    "WenQuanYi Micro Hei",
    SimSun,
    sans-serif;

  &.overflow {
    overflow: hidden;
  }
}

ul, li, ol, dl {
  list-style: none;
}

i , s{
  font-style: normal;
  font-weight: 400;
}

img, svg {
  width: 100%;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

a:hover {
  color: @color-default !important;
  text-decoration: none;
}

a, button, input, select, textarea {
  outline: 0;
}

h1 {
  margin: 0;
  line-height: 1.2;
}

h2,h3,h4,h5,h6 {
  &:extend(h1);
}

.clearfix {
  &:before, &:after {
    content: '';
    height: 0;
    line-height: 0;
    clear: both;
    //visibility: hidden;
    display: block;
  }
  zoom: 1;
}

.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}

//.getMarginPadding(@n, @i: 5) when (@i =< @n) {
//  .pl@{i} {
//    padding-left: @i * 1px;
//  }
//  .pr@{i} {
//    padding-right: @i * 1px;
//  }
//  .pt@{i} {
//    padding-top: @i * 1px;
//  }
//  .pb@{i} {
//    padding-bottom: @i * 1px;
//  }
//  .ml@{i} {
//    margin-left: @i * 1px;
//  }
//  .mr@{i} {
//    margin-right: @i * 1px;
//  }
//  .mt@{i} {
//    margin-top: @i * 1px;
//  }
//  .mb@{i} {
//    margin-bottom: @i * 1px;
//  }
//  .getMarginPadding(@n, (@i + 5));
//}
//.getMarginPadding(100);

.color-fff {
  color: @color-fff;
}

.color-ccc {
  color: @color-ccc;
}

.color-000 {
  color: @color-000;
}

.color-333 {
  color: @color-333;
}

.color-666 {
  color: @color-666;
}

.color-999 {
  color: @color-999;
}

.bgc-fff {
  background-color: @color-fff;
}

.bgc-f2f2 {
  background-color: @color-f2f2;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.height-auto {
  height: auto;
}

.float-l, .pull-left {
  float: left;
}

.float-r, .pull-right {
  float: right;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// 圆角
.border-radius(@radius: 4px;) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

// 过度
.transition(@type: all; @s: .3s;) {
  -webkit-transition: @type @s;
  -moz-transition: @type @s;
  -ms-transition: @type @s;
  -o-transition: @type @s;
  transition: @type @s;
}

.transform(@x: -50%, @y: -50%) {
  -webkit-transform: translate(@x, @y);
  -moz-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  transform: translate(@x, @y);
}

// 背景图
.bg-img(@width: 20px; @height: 20px; @bgc: #fff; @url: '@{img-url}logo.png'; @bg_position: center; @bg-size: 100%; @vertical: middle;) {
  width: @width;
  height: @height;
  background: @bgc url(@url) no-repeat @bg_position;
  -webkit-background-size: @bg-size;
  -moz-background-size: @bg-size;
  -ms-background-size: @bg-size;
  -o-background-size: @bg-size;
  background-size: @bg-size;
  vertical-align: @vertical;
}

// icon-right 图标
.icon-right (@width: 20px; @height: 20px; @bgc: #fff; @url: '@{img-url}logo.png'; @bg_position: center; @bg-size: 100%; @vertical: middle;) {
  &:after {
    content: '';
    display: inline-block;
    .bg-img(@width: @width; @height: @height; @bgc: @bgc; @url: @url; @bg_position: @bg_position; @bg-size: @bg-size; @vertical: @vertical;);
  }
}

// icon-left 图标
.icon-left (@width: 20px; @height: 20px; @bgc: #fff; @url: '@{img-url}logo.png'; @bg_position: center; @bg-size: 100%; @vertical: middle;) {
  &:before {
    content: '';
    display: inline-block;
    .bg-img(@width: @width; @height: @height; @bgc: @bgc; @url: @url; @bg_position: @bg_position; @bg-size: @bg-size; @vertical: @vertical;);
  }
}

// 10px 字体
.font-size10 {
  font-size: 10px;
  -webkit-transform: scale(.83);
  -moz-transform: scale(.83);
  -ms-transform: scale(.83);
  -o-transform: scale(.83);
  transform: scale(.83);
  *font-size: 10px;
}

// 8px 字体
.font-size8 {
  font-size: 8px;
  -webkit-transform: scale(.67);
  -moz-transform: scale(.67);
  -ms-transform: scale(.67);
  -o-transform: scale(.67);
  transform: scale(.67);
  *font-size: 8px;
}

// 单行文本隐藏
.one-line-text-hidden() {
  //width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 多行文本隐藏
.more-line-text-hidden(@num: 2;) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @num; // 显示两行，如果显示3行再溢出则改写成 -webkit-line-clamp:3;
}

// input placeholder
.placeholder() {
  &::-webkit-input-placeholder {
    color: @color-999;
    font-size: .8rem;
  }
  &:-moz-placeholder {
    color: @color-999;
    font-size: .8rem;
  }
  &::-moz-placeholder {
    color: @color-999;
    font-size: .8rem;
  }
  &:-ms-input-placeholder {
    color: @color-999;
    font-size: .8rem;
  }
}

// 图片剧中 position: absolute; 定位布局
.img-center-pos(@height: 100%; @width: 100%;) {
  height: @height;
  width: @width;
  position: relative;
  overflow: hidden;

  img {
    display: inline-block;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    .transform(@x: -50%; @y: -50%);
  }
}

// 图片剧中 display: flex; 布局
.img-center-flex(@height: 100%; @width: 100%;) {
  height: @height;
  width: @width;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    display: inline-block;
    max-width: 100%;
  }
}

.border {
  border-bottom: 1px solid @color-e8e8;
}

.shadow {
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

.img-wrap {
  width: 100%;
  height: 100%;

  img,
  .img {
    width: 100%;
    height: 100%;
  }
}

.content-wrap {

}

.nav-header-main,
.banner-main,
.footer-main{
  //width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.article-main {
  width: 100%;
}

@import "header/header";
@import "footer/footer";
@import "banner/banner";
@import "m-aside-menu/m-aside-menu";

/* 媒体查询 */
@media only screen and (min-width: 320px) and (max-width: 359px) {
  html {
    font-size: 17px!important;
  }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 19px!important;
  }
}

@media only screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 20px!important;
  }
}

@media only screen and (min-width: 384px) and (max-width: 400px) {
  html {
    font-size: 20.5px!important;
  }
}

@media only screen and (min-width: 401px) and (max-width: 479px) {
  html {
    font-size: 22px!important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
  html {
    font-size: 25px!important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px){
  html {
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
  html {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1201px){
  html {
    font-size: 25px;
  }
  body {
    margin: 0 auto;
  }
  .nav-header-main,
  .banner-main,
  .footer-main{
    width: 1220px;
    //padding: 0 10px;
  }
}