.footer-wrap {
  width: 100%;
  background-color: @color-333;
}

.footer-main {
  padding: 60px 10px;

  .footer__bd-title {
    font-size: 16px;
    color: @color-fff;
    line-height: 1.5;
    margin-bottom: 25px;
  }

  .contact-list {
    font-size: 14px;
    color: @color-999;
    line-height: 2;

    .contact-item {
      display: inline-block;
      min-width: 290px;
    }
  }

  .copyright {
    font-size: 14px;
    color: @color-999;
    margin-top: 25px;
  }
}

.back-top {
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: none;
  z-index: 99;
  .icon-back-top {
    .icon-right(@width: 48px; @height: 48px; @bgc: transparent; @url: '@{img-url}icon-back-top.png');
  }
}

@media only screen and (max-width: 767px) {

  .footer-main {
    padding: 1.15rem .75rem 1.5rem;

    .footer__bd-title {
      font-size: 16px;
      color: @color-fff;
      line-height: 1;
      margin-bottom: 2rem;
    }

    .contact-list {
      font-size: 14px;
      color: @color-999;
      line-height: 1.5;

      .contact-item {
        display: inline-block;
        min-width: 45%;
        float: left;
        margin-bottom: .8rem;
      }
      .contact-item-placeholder {
        display: none;
      }
    }

    .copyright {
      font-size: 14px;
      color: @color-999;
      margin-top: 1rem;
      line-height: 1.5;
    }
  }

  .back-top {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: none;
    z-index: 99;
    .icon-back-top {
      .icon-right(@width: 32px; @height: 32px; @bgc: transparent; @url: '@{img-url}icon-back-top.png');
    }
  }
}