<!-- banner 图 -->
<div class="banner-wrap zhft-banner-wrap">
  <div class="banner-main zhft-banner-main">
    <div class="banner__hd"></div>
    <div class="banner__bd">
      <span class="icon icon-banner-down" id="js-banner-down"></span>
    </div>
    <div class="banner__ft"></div>
  </div>
</div>