<!-- 返回顶部 -->
<div class="back-top" id="js-back-top">
  <span class="icon icon-back-top"></span>
</div>

<!-- 底部 -->
<div class="footer-wrap zhft-footer-wrap">
  <div class="footer-main zhft-footer-main">
    <div class="footer__hd"></div>
    <div class="footer__bd">
      <h4 class="footer__bd-title">联系我们</h4>
      <ol class="contact-list clearfix">
        <li class="contact-item">电话：010-83631800</li>
        <li class="contact-item">邮箱：service@bjzhft.com</li>
        <li class="contact-item contact-item-placeholder"></li>
        <li class="contact-item contact-item-placeholder"></li>
        <li class="contact-item">传真：000-6666-86666</li>
        <li class="contact-item">地址：北京市朝阳区焦化路甲18号中国北京出版创意产业基地先导区一层105室</li>
      </ol>
      <p class="copyright">©2018 中汇法通（北京）知识产权服务有限公司 版权所有</p>
    </div>
    <div class="footer__ft"></div>
  </div>
</div>