<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!--<script type="text/javascript" src="../../components/common.js"></script>-->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../assets/js/ie10-viewport-bug-workaround.js"></script>