// banner 图
.banner-wrap {
  //margin-top: -80px;
  height: 880px;
  .bg-img(@width: 100%; @height: 880px; @url: '@{img-url}index_banner_bg.png'; @bg_position: center top; @bg-size: cover;);

}
.banner-main {
  height: 100%;
  .banner__bd {
    height: 100%;
    position: relative;
    .icon-banner-down {
      position: absolute;
      left: 50%;
      //top: auto;
      bottom: 170px;
      .transform(-50%, 0);
      .icon-right(@width: 60px; @height: 60px; @bgc: transparent; @url: '@{img-url}icon-banner-down.png');
      cursor: pointer;
      -webkit-animation: move 2s infinite;
      -o-animation: move 2s infinite;
      animation: move 2s infinite;
    }

    @keyframes move {
      0% {
        bottom: 170px;
      }
      50% {
        bottom: 160px;
      }
      100% {
        bottom: 170px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  // banner 图
  .banner-wrap {
    margin-top: 3rem;
    .bg-img(@width: 100%; @height: 11rem; @url: '@{img-url}m-index_banner_bg.png'; @bg_position: center top; @bg-size: cover;);
  }
  .banner-main {
    height: 100%;
    .banner__bd {
      display: none;
    }
  }
}